<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" type="image/svg" href="/icons/flag-icon.svg" />
    <title>Crisis in Gaza: Scenario-Based Health Impact Projections</title>
    <meta
      name="description"
      content="This project aims to provide projections of excess mortality for different disease areas (disease
    modules) in Gaza. These estimations will provide decision-makers and responders information to plan for and respond to
    different scenarios."
    />
  </head>
  <script>
    window.CONFIG = {
      isGoogleAnalyticsEnabled: <%- googleAnalytics != null %>
    };
  </script>

  <% if (googleAnalytics) { %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= googleAnalytics.id %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '<%= googleAnalytics.id %>' <% if (googleAnalytics.debugMode) { %>, { 'debug_mode': <%= googleAnalytics.debugMode %> } <% } %>);
    </script>
  <% } %>

  <body>
    <div id="root">
      <!-- Top Menu -->
      <%- include('src/templates/menu.html') %>

      <!-- Header Section -->
      <%- include('src/templates/header.html') %>

      <main>
        <!-- Intro Section -->
        <%- include('src/templates/intro.html') %>

        <!-- Projections Carousel Section -->
       <%- include('src/templates/projections.html') %>

        <!-- About Section -->
        <%- include('src/templates/about.html') %>

        <!-- FAQ Section -->
        <%- include('src/templates/faq.html') %>

        <!-- Subscribe Section -->
        <%- include('src/templates/subscribe.html') %>

      <!-- Footer Section -->
      <%- include('src/templates/footer.html') %>
    </div>
    <script type="module" src="/src/main.js"></script>
    <%- include('src/templates/subscribe.code.html') %>
  </body>
</html>

