<section 
  class="sticky w-full h-auto xsm:min-h-[100px] bg-gray-dark bottom-0 text-white 
        flex flex-col justify-center xsm:items-center xsm:flex-row p-5 xsm:px-10 md:px-15 
        transition-[bottom] duration-700 ease-in-out js-cookie-banner" 
  aria-label="Cookie banner"
>
  <div class="xsm:flex-1 xsm:mb-0 mb-5" aria-label="Cookie disclaimer">
    This website uses cookies to gain insight on user engagement. 
  </div>
  <button class="button button-inverted xsm:ml-5 js-cookie-accept-button" aria-label="Cookie agree button">
    I Agree
  </button>
</section>