<section 
  id="cookie-banner"
  class="sticky w-full h-[170px] xsm:h-[100px] bg-gray-dark bottom-0 text-white 
  flex flex-col justify-center xsm:items-center xsm:flex-row p-5 xsm:px-10 md:px-28 transition-[bottom] duration-700 ease-in-out" 
  aria-label="cookie-banner"
>
  <div class="xsm:flex-1 xsm:mb-0 mb-5">
    This website uses cookies to improve user experience.
  </div>
  <button id="cookie-accept-button" class="button button-inverted xsm:ml-5">
    I Accept
  </button>
</section>

<!-------------------------------------- ADD ARIA -------------------------------------->