<% const faq = [{ question: 'What is the aim of this project?', answer: `
<p>
  This project aims to provide projections of excess mortality for different causes of excess mortality (mortality
  modules) in Gaza under three scenarios: 1) ceasefire, 2) status quo (continuation of conditions observed during the
  period of the war from October 2023 to 15 January 2024), and 3) escalation. These estimations will provide decision-makers and
  responders information to plan for and respond to different scenarios. The data may also be used to inform diplomatic
  efforts addressing this war. The current projection is for six months from 7 February- 6 August 2024. The estimates
  will be periodically updated and will take into account the evolving crisis, availability of new data, and improved
  methods until May 2024.
</p>
`}, { question: 'What will the project deliver?', answer: `We will prepare scenario-based projections of overall
mortality and four cause-specific mortality modules: 1) traumatic injury, 2) infectious diseases, 3)
maternal and neonatal health, and 4) non-communicable diseases that, taken together, encompass nearly all direct and
indirect causes of mortality. A technical document detailing the methods underpinning the estimates, and an openly
accessible repository of data and analysis code are available. Presentations targeted for specific stakeholders will
occur.
<p>` },{ question: 'Who is implementing this project?', answer: `</p>

<p>
  The project is implemented by researchers from the
  <a
    href="https://www.lshtm.ac.uk/research/centres/health-humanitarian-crises-centre"
    class="text-primary underline"
    target="_blank"
  >
    Health in Humanitarian Crises Centre
  </a>
  at the
  <a href="https://www.lshtm.ac.uk/" class="text-primary underline" target="_blank"
    >London School of Hygiene &amp; Tropical Medicine</a
  >
  , and the
  <a href="https://hopkinshumanitarianhealth.org/" class="text-primary underline" target="_blank"
    >Johns Hopkins Center for Humanitarian Health</a
  >
  at
  <a href="https://www.jhu.edu/" class="text-primary underline" target="_blank">Johns Hopkins University</a>.
</p>
` }, { question: 'Who is funding this project?', answer: `
<p>
  The research is being conducted with the support of the UK Humanitarian Innovation Hub (<a
    href="https://www.ukhih.org/"
    class="text-primary underline"
    target="_blank"
    >UKHIH</a
  >) and the donor, the UK Foreign, Commonwealth &amp; Development Office (FCDO). The work UKHIH supports aims to
  harness UK and international capabilities to support problem- led, systems innovation in the humanitarian sector.
</p>
` }, { question: 'What information will be made available?', answer: `
<p>
  Scenario-based projections will be released in a publicly available report alongside an open repository of data and
  analysis code, together with a technical document detailing the methodology used. An Arabic summary of each report
  will also be provided. The report will be periodically updated over the next five months and consider the evolving
  situation, availability of new data and improved methodologies.
</p>
` }, { question: 'How can I access the above information?', answer: `
<p>
  All public facing project resources will be uploaded periodically on the
  <a href="/" class="text-primary underline" target="_blank">website</a>. If you wish to receive a notification when
  updated projections are published, please sign up to our
  <a href="#subscribe" class="text-primary underline">mailing list</a>.
</p>
` }, { question: 'What scenarios were considered?', answer: `
<p>
  Three different scenarios were chosen to be sufficiently distinct in terms of their likely impact, and, taken
  together, encompass a foreseeable range of trajectories for the crisis. The scenarios include a
  <u>ceasefire</u> (optimistic) scenario, a <u>status quo</u> (middle) case scenario (reflecting continuation of
  conditions seen between 7 October 2023 and 15 January), and an <u>escalation</u> (pessimistic) scenario. Projections
  for each scenario have a time horizon of 6 months. Each scenario is mainly specified in terms of three elements: 1)
  intensity and typology of the military activity in Gaza; 2) occurrence and duration of any pauses or ceasefires; and
  3) extent of humanitarian space and operational adaptation.
</p>

<p>
  For each scenario, we specified ranges for the values of specific risk factors for disease transmission or
  progression, including displacement, inadequate shelter and overcrowding, exposure to war injuries, food
  security/nutritional status, and insufficient water, sanitation and hygiene.
</p>

<p>
  Finally, for each scenario we specified percent access to key health services, including vaccination, outpatient
  (primary) care and specific inpatient services such as intravenous antibiotics, rehydration and respiratory support.
  This was based on analysis of disruptions to these services, and realistic prospects for their rehabilitation.
</p>
`}, { question: 'Where does the data come from for this project?', answer: `
<p>
  We reviewed and extracted a range of previously collected data from the period before the war, including previous wars
  in Gaza, and from the period since the crisis’ start. We also sourced publicly available data and peer-reviewed
  articles from similar crisis contexts. Reports were curated by extracting key meta-data and vetted for quality based
  on set criteria. Finally, we used expert consultations and structured elicitation questionnaires to help us estimate
  key quantities for each scenario, including the transmissibility and fatality of infections and the availability and
  quality of trauma surgery care. As the project progresses, we will continue to source and update data and improve
  expert elicitation processes. An open repository of information will be published alongside each report.
</p>
` }, { question: 'Excess Mortality or Excess Deaths?', answer: `
<p>
  These terms can be used interchangeably. In the Gaza Projections Report, excess mortality means the projected number
  of deaths above what one would have been expected without the conflict, during the same time period.
</p>
` }, { question: `Why do the projections not cover Israel?`, answer: `
<p>
  Israel’s public health infrastructure is intact and functioning, Gaza’s is not. Additionally, there is a better
  understanding of the impacts of the ongoing war in Israel compared to Gaza. In Gaza the war has disrupted health
  services and resulted in overcrowding, inadequate water, sanitation and hygiene conditions, and insufficient food
  intake. To better address the humanitarian crisis in Gaza both during and after the war, it is important to understand
  how the conflict is contributing to disease and death there.
</p>
` }, { question: `What are the excess mortality causes that will be focused upon?`, answer: `
<p>
  We are seeking to estimate excess mortality due to all causes. As such, following the broad categories of the
  International Classification of Diseases, we have developed estimates of excess mortality due to 1) traumatic
  injuries, 2) infectious diseases, 3) maternal and neonatal causes, including deaths and stillbirths, and 4)
  non-communicable diseases. Furthermore, malnutrition is analysed as an underlying cause of mortality. Morbidity due to
  mental health may be included in future iterations of the projections. Taken together, these broad disease areas
  encompass most causes of mortality. These estimates do not distinguish between civilians and combatants.
</p>
` }, {
  question: `What methods were used?`,
  answer: `
  <p>
  Excess <u>maternal, neonatal, and stillbirth</u> mortality was estimated using the Lives Saved Tool or
LiST; this extensively documented model uses published estimates of the relationships between
changes in service coverage (e.g. antenatal care) and mortality or stillbirth risk. LiST models
have been widely used and were built using a hierarchy of evidence on the effect of interventions
on mortality.
</p>

<p>
  For other disease areas, we developed computational models that, where possible, incorporated
known ranges of uncertainty in various parameters such as exposure-outcome effects and the
coverage of specific public health services. Briefly,

  <ul class="list-disc px-4 py-2">
    <li class="pb-2">
      For <u>traumatic injuries</u>, we used publicly available casualty data, data from similar conflicts,
studies on survival rates of trauma patients, and expert-elicited values for case fatality of the
most prevalent trauma types in conflict settings to estimate our projection in trauma injuries and
deaths. Our estimates include the proportion of the injured who die of wounds due to lack of
adequate medical services.
    </li>
    <li class="pb-2">
      For <u>malnutrition</u>, we estimated caloric intake and translated this into percent weight loss
based on a published model; these weight losses were then applied to baseline data to
project prevalences of acute malnutrition;
</li>
<li class="pb-2">
  For <u>infections</u>, we divided work into epidemic and endemic infections. For endemic
infections, we multiplied baseline mortality data by relative risks representing higher
transmissibility and case-fatality. For epidemics, we simulated a large number of epidemics
based on expert-elicited values of epidemic risk, susceptibility to infection and disease
based on vaccination coverage and natural exposure, and epidemiological parameters
sourced from the literature. Susceptibility to infection and disease for different vaccine-
preventable infections was estimated in a separate model.
  </li>

  <li class="pb-2">
    For <u>non-communicable diseases</u>, we multiplied baseline mortality data by relative risks
representing changes in access to treatment among prevalent and incident cases, with
relative survival with and without treatment quantified through literature review.
    </li>
  </ul>
  All our methods are extensively documented in a Methods Technical document (coming soon)
  can be reproduced using data and code provided.
  </p>
  `
}, {
  question: `Are the results a <u>prediction</u> as to what will happen in Gaza over the next 6 months?`,
  answer: `
  <p>
    No. The results are <u>projections</u> that use historical and present data and models to estimate the
future under scenarios that we as researchers specifically set. Scenario-based projections are a
‘what-if’ exercise: we do not claim that any of the three scenarios will in fact materialise, but
instead attempt to quantify the expected health consequences of these distinct alternative
trajectories. The results should not be interpreted as a prediction or forecast.
  </p>
  `
},
{
  question: `How accurate are these projections?`,
  answer: `
  <p>
    All data sources come with their own biases and limitations, and the research team has
attempted to adjust for these within the modelling approach. The best-available data have been
used but, as is the case in all crisis situations, the available data are incomplete or may feature
inaccuracies. The Methods Technical document (coming soon) discusses the limitations and biases of the estimates.
    </p>
    <p>
      The range of scenario-based projections is not a prediction of what will happen but rather
indicates what could happen under different scenarios, so as to enable appropriate planning,
response and decision-making.
      </p>
    `
},
{
  question: `Did the researchers receive approval for their research project?`,
  answer: `
  <p>
    The project was reviewed and received approval from the Johns Hopkins Bloomberg School of
Public Health Institutional Review Board and the London School of Hygiene &amp; Tropical Medicine
Research Ethics Committee.
</p>`
},
{
  question: `How can I get in contact with the research team?`,
  answer: `
  <p>
    All queries relating to the project should be directed to
    <a class="text-primary underline" href="mailto:info@gaza-projections.org">info@gaza-projections.org</a>.
  </p>`
}
] %>

<section id="faq" class="faq centered px-4 flex flex-col items-center gap-4 w-full py-10 lg:py-14 md:scroll-my-14">
  <h2 class="text-h1">FAQ</h2>

  <!-- Accordions -->

  <!-- Questions -->
  <% for (let [index,item] of Object.entries(faq)) { %>
  <div
    class="accordion w-full js-accordion border border-gray-100 p-10 rounded-lg"
    style="box-shadow: 0px 20px 95px 0px #c9cbcc4d"
  >
    <h3 class="js-accordion-title">
      <button
        type="button"
        aria-expanded="false"
        aria-controls="accordionSectionId<%= index %>"
        id="accordionId<%= index %>"
        class="flex items-center w-full text-left"
      >
        <i class="accordion-title-icon w-12 h-10 border border-primary rounded-lg mr-7 bg-center bg-no-repeat"></i>
        <span class="font-semibold text-lg flex-1"><%- item.question %></span>
      </button>
    </h3>
    <div
      id="accordionSectionId<%= index %>"
      role="region"
      aria-labelledby="accordionId<%= index %>"
      class="accordion-content pt-7 text-base pl-20 text-[#637381]"
    >
      <%- item.answer %>
    </div>
  </div>
  <% } %>
</section>
