<section id="faq" class="faq centered px-4 flex flex-col items-center gap-4 w-full py-10 lg:py-14 md:scroll-my-14">
  <h2 class="text-h1">FAQ</h2>

  <!-- Accordions -->

  <!-- Question Id1 -->
  <div
    class="accordion w-full js-accordion border border-gray-100 p-10 rounded-lg"
    style="box-shadow: 0px 20px 95px 0px #c9cbcc4d"
  >
    <h3 class="js-accordion-title">
      <button
        type="button"
        aria-expanded="false"
        aria-controls="accordionSectionId1"
        id="accordionId1"
        class="flex items-center w-full"
      >
        <i class="accordion-title-icon w-12 h-10 border border-primary rounded-lg mr-7 bg-center bg-no-repeat"></i>
        <span class="font-semibold text-lg">What is the aim of this project?</span>
      </button>
    </h3>
    <div
      id="accordionSectionId1"
      role="region"
      aria-labelledby="accordionId1"
      class="accordion-content pt-7 text-base pl-20 text-[#637381]"
    >
      <p>
        This project aims to provide projections of excess mortality for different causes of excess mortality (mortality
        modules) in Gaza under three scenarios: 1) ceasefire, 2) status quo (continuation of conditions observed during
        the period of the war from October 2023 to now), and 3) escalation. These estimations will provide
        decision-makers and responders information to plan for and respond to different scenarios. The data may also be
        used to inform diplomatic efforts addressing this conflict.
      </p>
      <p>
        The current projection is for 7 February- 6 August 2024. The estimates will be updated monthly and will take
        into account the evolving crisis, availability of new data, and improved methods until May 2024.
      </p>
    </div>
  </div>

  <!-- Question Id2 -->
  <div
    class="accordion w-full js-accordion border border-gray-100 p-10 rounded-lg"
    style="box-shadow: 0px 20px 95px 0px #c9cbcc4d"
  >
    <h3 class="js-accordion-title">
      <button
        type="button"
        aria-expanded="false"
        aria-controls="accordionSectionId2"
        id="accordionId2"
        class="flex items-center w-full"
      >
        <i
          class="accordion-title-icon w-12 h-10 border border-primary rounded-lg mr-7 bg-center bg-no-repeat transition"
        ></i>
        <span class="font-semibold text-lg">What will the project deliver?</span>
      </button>
    </h3>
    <div
      id="accordionSectionId2"
      role="region"
      aria-labelledby="accordionId2"
      class="accordion-content pt-7 text-base pl-20 text-[#637381]"
    >
      <p>
        We will prepare scenario-based projections of mortality overall and for mortality modules (1 traumatic injury,
        2) infectious diseases, 3) maternal and neonatal health, and 4) non- communicable diseases) that, taken
        together, encompass nearly all causes of mortality; a technical document detailing the methods underpinning the
        estimates; an openly accessible repository of data and analysis code; and presentations targeted for specific
        stakeholders.
      </p>
    </div>
  </div>

  <!-- Question Id3 -->
  <div
    class="accordion w-full js-accordion border border-gray-100 p-10 rounded-lg"
    style="box-shadow: 0px 20px 95px 0px #c9cbcc4d"
  >
    <h3 class="js-accordion-title">
      <button
        type="button"
        aria-expanded="false"
        aria-controls="accordionSectionId3"
        id="accordionId3"
        class="flex items-center w-full"
      >
        <i class="accordion-title-icon w-12 h-10 border border-primary rounded-lg mr-7 bg-center bg-no-repeat"></i>
        <span class="font-semibold text-lg">Who is implementing this project?</span>
      </button>
    </h3>
    <div
      id="accordionSectionId3"
      role="region"
      aria-labelledby="accordionId3"
      class="accordion-content pt-7 text-base pl-20 text-[#637381]"
    >
      <p>
        The project is implemented by researchers from the
        <a
          href="https://www.lshtm.ac.uk/research/centres/health-humanitarian-crises-centre"
          class="text-primary underline"
          target="_blank"
        >
          Health in Humanitarian Crises Centre at the London
        </a>
        <a href="https://www.lshtm.ac.uk/" class="text-primary underline" target="_blank"
          >School of Hygiene &amp; Tropical Medicine</a
        >
        , and the
        <a href="https://hopkinshumanitarianhealth.org/" class="text-primary underline" target="_blank"
          >Johns Hopkins Center for Humanitarian Health</a
        >
        at
        <a href="https://www.jhu.edu/" class="text-primary underline" target="_blank">Johns Hopkins University</a>.
      </p>
    </div>
  </div>
</section>
