<% const faq1 = [{ question: 'What is the aim of this project?', answer: `
<p>
  This project aims to provide projections of excess mortality for different causes of excess mortality (mortality
  modules) in Gaza under three scenarios: 1) ceasefire, 2) status quo (continuation of conditions observed during the
  period of the war from October 2023 to 15 January 2024), and 3) escalation. These estimations will provide decision-makers and
  responders information to plan for and respond to different scenarios. The data may also be used to inform diplomatic
  efforts addressing this war. The current projection is for six months from 7 February- 6 August 2024. The estimates
  will be periodically updated and will take into account the evolving crisis, availability of new data, and improved
  methods until May 2024.
</p>
`}, { question: 'What will the project deliver?', answer: `We will prepare scenario-based projections of overall
mortality and four cause-specific mortality modules: 1) traumatic injury, 2) infectious diseases, 3)
maternal and neonatal health, and 4) non-communicable diseases that, taken together, encompass nearly all direct and
indirect causes of mortality. A methods annex technical document detailing the methods underpinning the estimates, and an openly
accessible repository of data and analysis code are available. Presentations targeted for specific stakeholders will
occur.
<p>` },{ question: 'Who is implementing this project?', answer: `</p>

<p>
  The project is implemented by researchers from the
  <a
    href="https://www.lshtm.ac.uk/research/centres/health-humanitarian-crises-centre"
    class="text-primary underline"
    target="_blank"
  >
    Health in Humanitarian Crises Centre
  </a>
  at the
  <a href="https://www.lshtm.ac.uk/" class="text-primary underline" target="_blank"
    >London School of Hygiene &amp; Tropical Medicine</a
  >
  , and the
  <a href="https://hopkinshumanitarianhealth.org/" class="text-primary underline" target="_blank"
    >Johns Hopkins Center for Humanitarian Health</a
  >
  at
  <a href="https://www.jhu.edu/" class="text-primary underline" target="_blank">Johns Hopkins University</a>.
</p>
` }, { question: 'Who is funding this project?', answer: `
<p>
  The research is being conducted with the support of the UK Humanitarian Innovation Hub (<a
    href="https://www.ukhih.org/"
    class="text-primary underline"
    target="_blank"
    >UKHIH</a
  >) and the donor, the UK Foreign, Commonwealth &amp; Development Office (FCDO). The work UKHIH supports aims to
  harness UK and international capabilities to support problem- led, systems innovation in the humanitarian sector.
</p>
` }, { question: 'What information will be made available?', answer: `
<p>
  Scenario-based projections will be released in a publicly available report alongside an open repository of data and
  analysis code, together with a methods annex technical document detailing the methodology used. An Arabic summary of each report
  will also be provided. The report will be periodically updated over the next five months and consider the evolving
  situation, availability of new data and improved methodologies.
</p>
` }, { question: 'How can I access the above information?', answer: `
<p>
  All public facing project resources will be uploaded periodically on the
  <a href="/" class="text-primary underline" target="_blank">website</a>. If you wish to receive a notification when
  updated projections are published, please sign up to our
  <a href="#subscribe" class="text-primary underline">mailing list</a>.
</p>
` }, { question: 'What scenarios were considered?', answer: `
<p>
  Three different scenarios were chosen to be sufficiently distinct in terms of their likely impact, and, taken
  together, encompass a foreseeable range of trajectories for the crisis. The scenarios include a
  <u>ceasefire</u> (optimistic) scenario, a <u>status quo</u> (middle) case scenario (reflecting continuation of
  conditions seen between 7 October 2023 and 15 January), and an <u>escalation</u> (pessimistic) scenario. Projections
  for each scenario have a time horizon of 6 months. Each scenario is mainly specified in terms of three elements: 1)
  intensity and typology of the military activity in Gaza; 2) occurrence and duration of any pauses or ceasefires; and
  3) extent of humanitarian space and operational adaptation.
</p>

<p>
  For each scenario, we specified ranges for the values of specific risk factors for disease transmission or
  progression, including displacement, inadequate shelter and overcrowding, exposure to war injuries, food
  security/nutritional status, and insufficient water, sanitation and hygiene.
</p>

<p>
  Finally, for each scenario we specified percent access to key health services, including vaccination, outpatient
  (primary) care and specific inpatient services such as intravenous antibiotics, rehydration and respiratory support.
  This was based on analysis of disruptions to these services, and realistic prospects for their rehabilitation.
</p>
`}, { question: 'Where does the data come from for this project?', answer: `
<p>
  We reviewed and extracted a range of previously collected data from the period before the war, including previous wars
  in Gaza, and from the period since the crisis’ start. We also sourced publicly available data and peer-reviewed
  articles from similar crisis contexts. Reports were curated by extracting key meta-data and vetted for quality based
  on set criteria. Finally, we used expert consultations and structured elicitation questionnaires to help us estimate
  key quantities for each scenario, including the transmissibility and fatality of infections and the availability and
  quality of trauma surgery care. As the project progresses, we will continue to source and update data and improve
  expert elicitation processes. An open repository of information will be published alongside each report.
</p>
` }, { question: 'Excess Mortality or Excess Deaths?', answer: `
<p>
  These terms can be used interchangeably. In the Gaza Projections Report, excess mortality means the projected number
  of deaths above what one would have been expected without the conflict, during the same time period.
</p>
` }, { question: `Why do the projections not cover Israel?`, answer: `
<p>
  Israel’s public health infrastructure is intact and functioning, Gaza’s is not. Additionally, there is a better
  understanding of the impacts of the ongoing war in Israel compared to Gaza. In Gaza the war has disrupted health
  services and resulted in overcrowding, inadequate water, sanitation and hygiene conditions, and insufficient food
  intake. To better address the humanitarian crisis in Gaza both during and after the war, it is important to understand
  how the conflict is contributing to disease and death there.
</p>
` }, { question: `What are the excess mortality causes that will be focused upon?`, answer: `
<p>
  We are seeking to estimate excess mortality due to all causes. As such, following the broad categories of the
  International Classification of Diseases, we have developed estimates of excess mortality due to 1) traumatic
  injuries, 2) infectious diseases, 3) maternal and neonatal causes, including deaths and stillbirths, and 4)
  non-communicable diseases. Furthermore, malnutrition is analysed as an underlying cause of mortality. Morbidity due to
  mental health may be included in future iterations of the projections. Taken together, these broad disease areas
  encompass most causes of mortality. These estimates do not distinguish between civilians and combatants.
</p>
` }, {
  question: `What methods were used?`,
  answer: `
  <p>
  Excess <u>maternal, neonatal, and stillbirth</u> mortality was estimated using the Lives Saved Tool or
LiST; this extensively documented model uses published estimates of the relationships between
changes in service coverage (e.g. antenatal care) and mortality or stillbirth risk. LiST models
have been widely used and were built using a hierarchy of evidence on the effect of interventions
on mortality.
</p>

<p>
  For other disease areas, we developed computational models that, where possible, incorporated
known ranges of uncertainty in various parameters such as exposure-outcome effects and the
coverage of specific public health services. Briefly,

  <ul class="list-disc px-4 py-2">
    <li class="pb-2">
      For <u>traumatic injuries</u>, we used publicly available casualty data, data from similar conflicts,
studies on survival rates of trauma patients, and expert-elicited values for case fatality of the
most prevalent trauma types in conflict settings to estimate our projection in trauma injuries and
deaths. Our estimates include the proportion of the injured who die of wounds due to lack of
adequate medical services.
    </li>
    <li class="pb-2">
      For <u>malnutrition</u>, we estimated caloric intake and translated this into percent weight loss
based on a published model; these weight losses were then applied to baseline data to
project prevalences of acute malnutrition;
</li>
<li class="pb-2">
  For <u>infections</u>, we divided work into epidemic and endemic infections. For endemic
infections, we multiplied baseline mortality data by relative risks representing higher
transmissibility and case-fatality. For epidemics, we simulated a large number of epidemics
based on expert-elicited values of epidemic risk, susceptibility to infection and disease
based on vaccination coverage and natural exposure, and epidemiological parameters
sourced from the literature. Susceptibility to infection and disease for different vaccine-
preventable infections was estimated in a separate model.
  </li>

  <li class="pb-2">
    For <u>non-communicable diseases</u>, we multiplied baseline mortality data by relative risks
representing changes in access to treatment among prevalent and incident cases, with
relative survival with and without treatment quantified through literature review.
    </li>
  </ul>
  All our methods are extensively documented in a
  <a href="/docs/gaza_projections_methods_annex.pdf" class="text-primary underline" target="_blank">Methods Annex Technical Document</a>
  can be reproduced using data and code provided.
  </p>
  `
}, {
  question: `Are the results a <u>prediction</u> as to what will happen in Gaza over the next 6 months?`,
  answer: `
  <p>
    No. The results are <u>projections</u> that use historical and present data and models to estimate the
future under scenarios that we as researchers specifically set. Scenario-based projections are a
‘what-if’ exercise: we do not claim that any of the three scenarios will in fact materialise, but
instead attempt to quantify the expected health consequences of these distinct alternative
trajectories. The results should not be interpreted as a prediction or forecast.
  </p>
  `
},
{
  question: `How accurate are these projections?`,
  answer: `
  <p>
    All data sources come with their own biases and limitations, and the research team has
attempted to adjust for these within the modelling approach. The best-available data have been
used but, as is the case in all crisis situations, the available data are incomplete or may feature
inaccuracies. The
<a href="/docs/gaza_projections_methods_annex.pdf" class="text-primary underline" target="_blank">Methods Annex Technical Document</a>

discusses the limitations and biases of the estimates.
    </p>
    <p>
      The range of scenario-based projections is not a prediction of what will happen but rather
indicates what could happen under different scenarios, so as to enable appropriate planning,
response and decision-making.
      </p>
    `
},
{
  question: `Did the researchers receive approval for their research project?`,
  answer: `
  <p>
    The project was reviewed and received approval from the Johns Hopkins Bloomberg School of
Public Health Institutional Review Board and the London School of Hygiene &amp; Tropical Medicine
Research Ethics Committee.
</p>`
},
{
  question: `How can I get in contact with the research team?`,
  answer: `
  <p>
    All queries relating to the project should be directed to
    <a class="text-primary underline" href="mailto:info@gaza-projections.org">info@gaza-projections.org</a>.
  </p>`
}
] %>

<% const faq2 = [{ question: 'Who undertook this research?', answer: `
<p>
  This project is an independent collaboration between researchers from The London School of
Hygiene &amp; Tropical Medicine and The Center for Humanitarian Health at The Johns Hopkins
University.
</p>
`}, {
  question: 'What is the goal of this projection?', answer: `
  <p>
    The goal of this scenario-based model is to provide a plausible projection of the number of
traumatic injury deaths that could occur in Rafah over the coming 3 months so that policymakers
and humanitarians can make sound, evidence-based decisions. Ultimately, it is hoped that this
projection will make some contribution to saving lives.
</p>
<p>
  Scenario-based models are needed to support forward looking evidence-based decision making in
Rafah. Since mortality and other data sources in Gaza are no longer able to provide a complete
picture of deaths, multiple data sources are needed for this projection.
</p>
  `
}, {
  question: 'Why focus on traumatic injury deaths in Rafah?', answer: `
  <p>
    We focused on projecting the number of traumatic injury deaths amongst Gazans in Rafah from 20
May 2024 and for the subsequent 90 days.
  </p>
  <p>
    While conflict continues throughout Gaza, Rafah was selected as the focus of this scenario-based
model because, until recently, this was the area where most Gazans had fled to and there had not
yet been a wide-scale military invasion in this Governorate since the conflict began on 7 October
2023. However, the Israeli government made its intention to invade Rafah clear, and this began on
6 May 2024 following an evacuation order.
  </p>
  <p>
    This scenario is focused solely on Gazans who are likely to die directly due to traumatic injuries and
does not include:
  <ul class="list-disc px-4 py-2">
    <li class="pb-2">
      Deaths that have already occurred in Rafah previously, including those since the 6 May
evacuation order.
    </li>
    <li class="pb-2">
      Deaths that will occur in Rafah after the projection period due to non-fatal traumatic
injuries sustained during that period.
    </li>
    <li class="pb-2">
      Deaths indirectly caused by the war, including deaths due to infectious diseases, non-
communicable diseases and maternal and child health issues.
    </li>
  </ul>
</p>
<p>
  These other causes of death were considered in our first scenario-based health impact projections
  <a href="/gaza_projections_report.pdf" class="text-primary underline" target="_blank">
    report
  </a> which projected excess mortality for the period of February to August 2024 across all of
Gaza.
  </p>
  <p>
    This report was developed as a supplement to the prior report because an escalation in the
intensity of the conflict in Rafah is likely to significantly increase direct deaths due to traumatic
injuries in this governorate compared to previous traumatic injury deaths in Rafah.
  </p>
    `
}, {
  question: 'What are the results?', answer: `
  <p>
    We project 3,509 traumatic injury deaths to occur between 20 May to 17 August 2024 solely in the
Rafah governorate. That is the equivalent to nearly 40 deaths/day for 90 days. In comparison, from
6-19 May, there have been 16 deaths/day due to traumatic injuries in Rafah as reported by ACLED.
  </p>
  <p>
    Many more traumatic injury deaths are continuing to occur throughout Gaza. Furthermore, we would

expect to see increased deaths due to other causes, such as infectious diseases, non-
communicable diseases and those due to maternal and child health occurring in the Rafah

Governorate and beyond.
  </p>
  <p>
    The uncertainty range of this projection is 3,143 to 3,946 traumatic injury deaths; for the higher
estimate, the daily death rate increases to 44 deaths/day.
</p>
<p>
  This projection is not a ‘worst case scenario’, and deaths may increase significantly if Israeli military
tactics differ substantially from what we have seen in Khan Younis during 16 December 2023 to 14
March 2024.
  </p>
  `
}, {
  question: 'What data sources were used?', answer: `
  <p>
    Four sources of available data were used for this projection: 1) Ministry of Health (MoH) data on
conflict fatalities; 2) Armed Conflict Location & Events Data Project (ACLED) data on fatalities for the
five governorates in Gaza since 7 October 2023; 3) United Nations Relief and Works Agency for
Palestine Refugees in the Near East (UNRWA) reports of traumatic injury fatalities among its
employees; and 4) Estimates of population by governorate since 7 October, adjusted for displacement by the Oxford Population Health Unit. The first three sources are publicly available,
and the latter is available upon request.
    </p>
    `
}, {
  question: 'What is the methodology used?', answer: `
  <p>
    Our projection for Rafah is based on empirical observations from the Israeli military operation that
began in Khan Younis in December 2023. We hypothesize, based on available evidence, that the
patterns and outcomes witnessed during this phase of the conflict could resemble potential
developments in Rafah under comparable circumstances. They are based on the time series of
traumatic injury fatalities from Khan Younis over the 90-day period starting from 16 December 2023
(14 days after the 2 December 2023 evacuation notice for Khan Younis) to 14 March 2024, adjusted
for differences in population size.
  </p>
  <p>
    The Gaza Ministry of Health’s reporting on fatalities does not include geographic locations.
Consequently, we used the ACLED database, which was incomplete, but did include the locations
of traumatic injury deaths. We then resolved this uncertainty through machine learning imputation
and adjusted the ratio of traumatic injury deaths reported by the MoH and ACLED to remove some
potential bias due to incomplete detection of deaths by ACLED. Finally, to obtain the projection of
the number of counted Rafah fatalities, the number of counted fatalities in Khan Younis was scaled
by the ratio of the Rafah and Khan Younis populations at day 14 following their respective
evacuation orders.
  </p>
  <p>
    As we did in our first report, we used the UNRWA staff death reports as an independent source and
compared it to the MoH mortality database to estimate the uncounted deaths from the latter; these
include people who died under the rubble and other deaths that may not have been reported
through the MoH system.
  </p>`
}, {
  question: 'What are the main conclusions of the report?', answer: `
  <p>
    This projection of possible traumatic injury deaths in Rafah highlights the urgent and lifesaving
need for an immediate ceasefire to reduce the mortality amongst civilians. International diplomacy
and humanitarian efforts must prioritize the cessation of hostilities.
  </p>
  <p>
    Advocacy for a ceasefire and the urgent need for civilian protection must be sustained.
  </p>
    `
}
] %>

<section id="faq" class="faq centered px-4 flex flex-col items-center gap-4 w-full py-10 lg:py-14 md:scroll-my-14">
  <h2 class="text-h1">FAQ</h2>

  <h3 class="text-h2 py-4">Crisis in Gaza: Scenario-based Health Impact Projections</h3>
  <%- include('src/templates/report-faq.html', { id: 1, faq: faq1 }) %>


  <h3 class="text-h2 py-4">Crisis in Gaza: Projected Deaths due to Traumatic Injuries in the Rafah Governorate</h3>
  <%- include('src/templates/report-faq.html', { id: 2, faq: faq2 }) %>
</section>
