<header class="bg-gray-light">
  <div class="centered px-4 py-10 min-h-[283px] flex flex-col md:flex-row gap-10 justify-between items-center">
    <h1
      class="flex-[5] max-w-[608px] px-4 md:px-0 text-center md:text-left text-4xl md:text-5xl leading-[48px] font-bold"
    >
      <a href="/">Crisis in Gaza: Scenario-Based Health Impact Projections</a>
    </h1>

    <div class="flex gap-2 sm:gap-7 flex-[4] max-w-[435px] sm:justify-center md:justify-end">
      <div class="flex items-center justify-center flex-1 px-4 rounded-2xl min-w-[140px] aspect-square bg-white">
        <img
          width="248"
          height="118"
          src="/logos/london-school-of-hygiene.svg"
          alt="London School of Hygiene &amp; Tropical Medicine logo"
        />
      </div>

      <div class="flex items-center justify-center flex-1 px-4 rounded-2xl min-w-[140px] aspect-square bg-white">
        <img
          width="187"
          height="132"
          src="/logos/johns-hopkins-university.jpg"
          alt="Johns Hopkins University Center for Humanitarian Health logo"
        />
      </div>
    </div>
  </div>
</header>
