<section id="intro" class="bg-primary md:scroll-my-14">
  <div class="centered px-4 py-16 flex">
    <div class="flex-1 flex flex-col gap-8">
      <h2 class="text-h2 text-white">Welcome to Our Project</h2>
      <p class="text-body-1 text-white">
        The current Israel-Gaza war, which began on October 7, 2023, has had an immense humanitarian impact. As of 15
        Feb 2024, over 28,000 Palestinians have died and 68,000 injured. In Israel the conflict has resulted in the
        deaths of over 1,200 people and 5,400 injured, while 124 hostages still remain in Gaza. Approximately 75% of the
        2.2 million Palestinians are displaced, and most reside in overcrowded shelters with limited access to water,
        sanitation and food. The provision of health care in Gaza is extremely limited.
      </p>
      <p class="text-body-1 text-white">
        Our group has developed models to project excess deaths, both direct (trauma-related) and indirect that may
        occur in Gaza over the six-month period from <u>7 February 2024 to 6 August 2024</u>. Alternative projections
        have been developed for each of three scenarios: 1) ceasefire, 2) continuation of conditions experienced between
        7 October 2023 to 15 January 2024, termed “status quo,”; and 3) further escalation of the war, termed
        “escalation”. The projections are stratified by sub- period, age and category of proximal causes of death,
        including traumatic injuries, infectious diseases, maternal and neonatal causes (i.e. infants less than 28 days
        old) and non-communicable diseases.
      </p>
      <p class="text-body-1 text-white">
        Over the next five months, we expect to publish periodic updates of our projections. The scenarios may be
        altered to reflect the evolution of the crisis, improved data or revised models.
      </p>

      <div class="flex max-sm:flex-col gap-4 pt-8">
        <a
          href="gaza_projections_report.pdf"
          target="_blank"
          class="button button-inverted"
          data-event-name="download_report"
        >
          Download Report
        </a>
        <button
          disabled
          class="button button-inverted pointer-events-none opacity-50"
          data-event-name="download_methods_annex"
        >
          Download Methods Annex (Coming Soon)
        </button>
      </div>
    </div>

    <div class="relative flex-[1.3] hidden xl:block">
      <img
        width="435"
        height="563"
        src="/images/report-cover.svg"
        alt="A preview of the report's cover. The report cover has the title Crisis in Gaza: Scenario-Based Health Impact Projections"
        class="absolute shadow-md right-48 top-28 w-[435px]"
      />
      <img
        width="435"
        height="563"
        src="/images/report-cover-methods.svg"
        alt="A preview of the methods annex cover. The report cover has the title Crisis in Gaza: Scenario-Based Health Impact Projections: Methods Annex"
        class="absolute shadow-md right-0 top-2 w-[435px]"
      />
    </div>
  </div>
</section>
