<section id="intro" class="bg-primary md:scroll-my-14">
  <div class="centered px-4 py-16 flex">
    <div class="flex-1 flex flex-col gap-8">
      <h2 class="text-h2 text-white">Welcome to Our Project</h2>
      <p class="text-body-1 text-white">
        Since 7 October 2023, armed conflict in the Gaza Strip, Palestine has led to a large number of traumatic deaths
        and injuries, extensive forced displacement, closure of health services, deteriorating living conditions, and
        worsening food security.
      </p>
      <p class="text-body-1 text-white">
        There is some information available on total deaths. While people are preoccupied with direct war-related
        fatalities in the first instance, less is known about excess mortality due to the indirect effects of the crisis
        due to disruption of health services, overcrowding, inadequate water, sanitation and hygiene and insufficient
        food intake.
      </p>
      <p class="text-body-1 text-white">
        Our group has developed models to project excess deaths, both directly and indirectly crisis-attributable, that
        may occur in Gaza over the six-month period from 7 February 2024 to 6 August 2024. This will be done in
        consideration of one of three scenarios: a ceasefire, a continuation of conditions experienced between 15
        October to 15 January, termed “status quo,” and a further escalation of the war. Our projections are stratified
        by sub-period, age and category of proximal causes of death (infections, non-communicable diseases, maternal,
        and babies, and trauma injuries). Over the next few months, we expect to publish updates of our projections; the
        scenarios may be altered to reflect the evolution of the crisis, improved data, or new models.
      </p>

      <div class="flex max-sm:flex-col gap-4 pt-8">
        <a href="#" class="button button-inverted"> Download Report </a>
        <a href="#" class="button button-inverted"> Download Methods Annex </a>
      </div>
    </div>

    <div class="relative flex-[1.3] hidden xl:block">
      <img
        width="435"
        height="563"
        src="/images/report-cover.svg"
        alt="A preview of the report's cover. The report cover has the title Crisis in Gaza: Scenario-Based Health Impact Projections"
        class="absolute shadow-md right-48 top-28 w-[435px]"
      />
      <img
        width="435"
        height="563"
        src="/images/report-cover-methods.svg"
        alt="A preview of the methods annex cover. The report cover has the title Crisis in Gaza: Scenario-Based Health Impact Projections: Methods Annex"
        class="absolute shadow-md right-0 top-2 w-[435px]"
      />
    </div>
  </div>
</section>
