<nav class="js-nav nav-list accordion h-[100px] bg-white md:sticky top-0 z-10 w-full border-b border-gray-light">
  <div class="md:centered md:px-4 h-full">
    <div class="flex items-center md:justify-center h-full relative">
      <button
        id="mobile-nav-menu-button"
        type="button"
        title="Navigation Menu Button"
        aria-label="Navigation Menu Button"
        aria-controls="nav-list"
        aria-expanded="false"
        class="inline md:hidden bg-[url('/icons/nav-icon.svg')] ml-4 bg-no-repeat bg-center p-5 rounded-full hover:bg-gray-light active:brightness-[95%] transition-all duration-150 js-nav-button"
      ></button>

      <ul
        id="nav-list"
        aria-labelledby="mobile-nav-menu-button"
        class="accordion-content max-md:absolute max-md:w-full max-md:top-[100%] max-md:px-4 max-md:h-[calc(100vh-100px)] max-md:bg-gray-dark max-md:text-white md:flex items-center centered 1.5xl:justify-center max-md:gap-10 md:gap-6 lg:gap-14 lg:text-lg"
      >
        <li>
          <a href="#intro" class="max-md:block max-md:py-4 max-md:border-b max-md:border-b-gray-500 hover:underline"
            >Our Project</a
          >
        </li>
        <% /*
        <li>
          <a
            href="#projections"
            class="max-md:block max-md:py-4 max-md:border-b max-md:border-b-gray-500 hover:underline"
            >Projections</a
          >
        </li>
        */ %>
        <li>
          <a href="#about" class="max-md:block max-md:py-4 max-md:border-b max-md:border-b-gray-500 hover:underline"
            >About</a
          >
        </li>
        <li>
          <a href="#faq" class="max-md:block max-md:py-4 max-md:border-b max-md:border-b-gray-500 hover:underline"
            >FAQ</a
          >
        </li>
        <li>
          <a href="#subscribe" class="max-md:block max-md:py-4 max-md:border-b max-md:border-b-gray-500 hover:underline"
            >Subscribe</a
          >
        </li>
        <li>
          <a
            class="max-md:block max-md:py-4 max-md:border-b max-md:border-b-gray-500 hover:underline"
            href="https://github.com/Gaza-projections/gaza_projections"
            target="_blank"
            data-event-name="github"
          >
            <span class="flex items-center">
              GitHub
              <i
                class="inline-block ml-1 w-5 h-5 max-md:bg-[url(/icons/external-link-white.svg)] md:bg-[url(/icons/external-link.svg)]"
              ></i>
            </span>
          </a>
        </li>
      </ul>
      <div class="absolute right-4">
        <button
          type="button"
          class="px-5 py-3 border-none font-medium text-center active:bg-primary-dark flex items-center justify-center; bg-primary text-white border-primary active:border-primary-dark text-sm lg:text-base rounded-[25px] data-[open=true]:!rounded-b-none"
          id="reports-dropdown-trigger"
          data-open="false"
          aria-controls="reports-dropdown"
        >
          Download Reports
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="ml-1 inline-block"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>
        </button>

        <div
          class="data-[open=false]:hidden data-[open=true]:flex flex-col gap-2 absolute top-[100%] left-[-1px] right-[-1px] bg-primary rounded-b-[25px] border border-gray-light"
          id="reports-dropdown"
          data-open="false"
        >
          <ul>
            <li class="border-b border-primary-dark">
              <a
                href="/gaza_projections_report.pdf"
                target="_blank"
                class="button button-primary button-no-hover px-5 text-md text-base !rounded-none"
                data-event-name="download_report"
                >Report 1</a
              >
            </li>
            <li class="border-b border-primary-dark">
              <a
                href="/docs/report2/traumatic_injuries_rafah.pdf"
                target="_blank"
                class="button button-primary button-no-hover px-5 text-md text-base !rounded-none"
                data-event-name="download_report_2"
                >Report 2</a
              >
            </li>
            <li class="border-b border-primary-dark">
              <a
                href="/docs/report3/wartime_food_availability_in_the_gaza_strip.pdf"
                target="_blank"
                class="button button-primary button-no-hover px-5 text-md text-base !rounded-none !rounded-b-[25px]"
                data-event-name="download_report_3"
                >Report 3</a
              >
            </li>
            <li>
              <a
                href="https://doi.org/10.1101/2024.12.10.24318783"
                target="_blank"
                class="button button-primary button-no-hover px-5 text-md text-base !rounded-none !rounded-b-[25px]"
                data-event-name="download_report_4"
                >Report 4</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
