<section id="projections" class="centered px-4 mt-14 py-14 bg-gray-dark lg:rounded-2xl md:scroll-my-14">
  <div class="lg:px-24">
    <h2 class="text-h2 text-center text-white">A Snapshot of Our Current Projections</h2>
    <!-- Total Projection Table -->
    <%- include('src/templates/projection-summary-table.html') %>
    <!-- Carousel -->
    <div class="splide js-carousel" role="group" aria-label="Slides">
      <div class="relative flex items-center justify-center gap-7 py-12">
        <div class="splide__arrows hidden lg:block">
          <button
            title="Previous icon"
            type="button"
            class="splide__arrow splide__arrow--prev disabled:opacity-40 disabled:pointer-events-none hover:bg-[#7e7d7d] rounded-full p-2 absolute left-0 transition-all"
          >
            <div class="w-12 h-12 bg-[url('/icons/chevron-left.svg')]"></div>
          </button>
          <button
            title="Next"
            type="button"
            class="splide__arrow splide__arrow--next disabled:opacity-40 disabled:pointer-events-none hover:bg-[#7e7d7d] rounded-full p-2 absolute right-0 transition-all"
          >
            <div class="w-12 h-12 bg-[url('/icons/chevron-right.svg')]"></div>
          </button>
        </div>
        <div class="relative w-full md:mx-20">
          <div class="splide__track">
            <!-- Slides -->
            <div class="splide__list bg-white">
              <%- include('slide.html', { img: "/images/figures/injuries.jpg", alt: '', caption: `Projected numbers of
              traumatic injury deaths, by scenario. The error bars indicate 95% uncertainty intervals. The darker
              (lower) portion of each bar indicates deaths due to wounds among people who initially survived their
              injury. The lighter (upper) portion of the bars in the status quo and escalation scenarios indicate
              immediate deaths due to traumatic injury.` })%> <%- include('slide.html', { img:
              "/images/figures/epidemic.jpg", alt: '', caption: `Estimated probability of exceeding specific death toll
              thresholds due to all epidemic-prone pathogens combined, by scenario, over the six-month projection
              period. (see details in the report)` })%> <%- include('slide.html', { img: "/images/figures/neonatal.png",
              alt: '', caption: `Cumulative newborn mortality (all excluding traumatic injury deaths) by period and
              scenario. The grey line shows the counterfactual trend based on pre-war mortality.` })%> <%-
              include('slide.html', { img: "/images/figures/ncds.jpg", alt: '', caption: `Projected number of deaths due
              to specific high-burden NCDs, by scenario, (in grey we have the pre-war mortality data expected for six
              months and the excess mortality marked in colour fill).` })%> <%- include('slide.html', { img:
              "/images/figures/malnutrition.png", alt: '', caption: `Projected change in the prevalence of global acute
              malnutrition, by time-period and scenario.` })%>
            </div>
          </div>
        </div>
        <!-- Indicators -->
        <div class="splide__pagination absolute bottom-2 left-0 right-0 flex items-center justify-center gap-5"></div>
      </div>
    </div>

    <p class="text-body-2 text-center text-white pt-16 pb-10">
      Excess mortality is the number of deaths attributed directly and indirectly to the current crisis that are in
      addition to deaths that would be expected based on Gaza data from the recent past (baseline deaths). Increase in
      malnutrition is analysed as an underlying cause.
    </p>

    <footer class="flex flex-col items-center gap-5">
      <h2 class="text-h2 text-white">For more details, please see our full report:</h2>
      <div class="flex max-sm:flex-col gap-5">
        <a
          href="gaza_projections_report.pdf"
          target="_blank"
          class="button button-primary"
          data-event-name="download_report"
          >Download Full Report</a
        >
        <button
          disabled
          class="button button-inverted pointer-events-none opacity-50"
          data-event-name="download_arabic_summary"
        >
          Arabic Summary (Coming Soon)
        </button>
        <button
          disabled
          class="button button-inverted pointer-events-none opacity-50"
          data-event-name="download_hebrew_summary"
        >
          Hebrew Summary (Coming Soon)
        </button>
      </div>
    </footer>
  </div>
</section>
