<section id="projections" class="centered px-4 py-14 bg-gray-dark lg:rounded-2xl">
  <div class="lg:px-24">
    <h2 class="text-h2 text-center text-white">A Snapshot of Our Current Projections</h2>
    <p class="mt-5 text-body-2 text-center text-white">
      The increase in malnutrition is analysed as an underlying cause. We anticipate xx% yy% and zz% acute malnutrition
      in the ceasefire, status quo, and escalation scenarios.
    </p>

    <!-- Carousel -->
    <div class="splide js-carousel" role="group" aria-label="Slides">
      <div class="relative flex items-center justify-center gap-7 py-12">
        <div class="splide__arrows hidden lg:block">
          <button
            title="Previous icon"
            type="button"
            class="splide__arrow splide__arrow--prev disabled:opacity-40 disabled:pointer-events-none hover:bg-[#7e7d7d] rounded-full p-2 absolute left-0 transition-all"
          >
            <div class="w-12 h-12 bg-[url('/icons/chevron-left.svg')]"></div>
          </button>
          <button
            title="Next"
            type="button"
            class="splide__arrow splide__arrow--next disabled:opacity-40 disabled:pointer-events-none hover:bg-[#7e7d7d] rounded-full p-2 absolute right-0 transition-all"
          >
            <div class="w-12 h-12 bg-[url('/icons/chevron-right.svg')]"></div>
          </button>
        </div>
        <div class="relative w-full md:mx-20">
          <div class="splide__track">
            <!-- Slides -->
            <div class="splide__list">
              <figure class="splide__slide">
                <img src="/images/figure.png" class="w-full" alt="Figure 1" />
              </figure>
              <figure class="splide__slide">
                <img src="/images/figure.png" class="w-full" alt="Figure 2" />
              </figure>
              <figure class="splide__slide">
                <img src="/images/figure.png" class="w-full" alt="Figure 3" />
              </figure>
            </div>
          </div>
        </div>
        <!-- Indicators -->
        <div class="splide__pagination absolute bottom-2 left-0 right-0 flex items-center justify-center gap-5"></div>
      </div>
    </div>

    <p class="text-body-2 text-center text-white pt-16 pb-10">
      Excess mortality is the number of deaths attributed directly and indirectly to the current crisis that are in
      addition to deaths that would be expected based on Gaza data from the recent past.
    </p>

    <footer class="flex flex-col items-center gap-5">
      <h2 class="text-h2 text-white">For more details, please see our full report:</h2>
      <div class="flex max-sm:flex-col gap-5">
        <a href="#" class="button button-primary">Download Full Report</a>
        <a href="#" class="button button-inverted">Download Arabic Summary</a>
      </div>
    </footer>
  </div>
</section>
