<div class="pt-[60px]">
  <table class="min-w-full pt-[60px]">
    <thead class="text-white">
      <tr class="text-sm">
        <th class="bg-primary-dark px-6 text-left font-medium hidden sm:table-cell" rowspan="2">EXCESS MORTALITY</th>
        <th colspan="3">
          <div class="py-[15px] text-center flex flex-col bg-[#00000059] font-medium">
            TOTAL PROJECTION PERIOD
            <span>(7 Feb to 6 Aug 2024)</span>
          </div>
        </th>
      </tr>
      <tr class="bg-primary text-xs hidden sm:table-row">
        <th class="py-3 px-6 text-left font-medium">CEASEFIRE</th>
        <th class="py-3 px-6 text-left font-medium">STATUS QUO</th>
        <th class="py-3 px-6 text-left font-medium">ESCALATION</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr class="block sm:table-row sm:border-b border-b-primary">
        <td
          data-label="EXCESS MORTALITY"
          class="mobile-label mobile-label-compact sm:table-cell py-[10px] px-[20px] text-left text-sm text-white sm:text-primary font-bold bg-primary-dark sm:bg-white"
        >
          Total Excluding Epidemics
        </td>
        <td data-label="CEASEFIRE" class="mobile-label sm:table-cell py-[10px] px-[20px]">
          <div class="flex flex-col">
            <span class="text-md text-primary font-bold">6,550</span>
            <span class="text-sm">(4,200 to 11,740)</span>
          </div>
        </td>
        <td data-label="STATUS QUO" class="mobile-label sm:table-cell py-[10px] px-[20px]">
          <div class="flex flex-col">
            <span class="text-md text-primary font-bold">58,260</span>
            <span class="text-sm">(48,210 to 72,830)</span>
          </div>
        </td>
        <td data-label="ESCALATION" class="mobile-label sm:table-cell py-[10px] px-[20px]">
          <div class="flex flex-col">
            <span class="text-md text-primary font-bold">74,290</span>
            <span class="text-sm">(62,350 to 92,650)</span>
          </div>
        </td>
      </tr>
      <tr class="block sm:table-row sm:border-b border-b-primary">
        <td
          data-label="EXCESS MORTALITY"
          class="mobile-label mobile-label-compact sm:table-cell py-[10px] px-[20px] text-left text-sm text-white sm:text-primary font-bold bg-primary-dark sm:bg-white"
        >
          Total Including Epidemics
        </td>
        <td data-label="CEASEFIRE" class="mobile-label sm:table-cell py-[10px] px-[20px]">
          <div class="flex flex-col">
            <span class="text-md text-primary font-bold">11,580</span>
            <span class="text-sm">(4,200 to 80,370)</span>
          </div>
        </td>
        <td data-label="STATUS QUO" class="mobile-label sm:table-cell py-[10px] px-[20px]">
          <div class="flex flex-col">
            <span class="text-md text-primary font-bold">66,720</span>
            <span class="text-sm">(48,210 to 193,180)</span>
          </div>
        </td>
        <td data-label="ESCALATION" class="mobile-label sm:table-cell py-[10px] px-[20px]">
          <div class="flex flex-col">
            <span class="text-md text-primary font-bold">85,750</span>
            <span class="text-sm">(62,350 to 259,680)</span>
          </div>
        </td>
      </tr>
    </tbody>
    <caption class="caption-bottom text-lg text-white pt-[18px] text-center italic font-light">
      Summary Table. Projected numbers of excess, crisis-attributable deaths by cause, period and scenario. Values are
      the mean estimate and the 95% uncertainty interval.
    </caption>
  </table>
</div>
