@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.button {
  @apply px-7 py-3 border rounded-4xl font-medium text-center;
}

.button-primary {
  @apply bg-primary text-white border-primary;
}

.button-secondary {
  @apply bg-transparent text-primary border-primary;
}

.button-inverted {
  @apply bg-transparent text-white border-white;
}

.caption {
  @apply text-base italic font-light;
}

.tag {
  @apply text-xs font-medium bg-[#E5E7EB] px-3 py-1 rounded-sm w-fit;
}

.centered {
  @apply w-full lg:max-w-[1383px] lg:mx-auto;
}

/* Carousel */

.splide__pagination__page {
  @apply rounded-full;
  @apply w-4;
  @apply h-4;
  @apply lg:w-2;
  @apply lg:h-2;
  @apply bg-primary;
  @apply transition-all;
}

.splide__pagination__page.is-active {
  @apply bg-[#C4C4C4];
  @apply w-5;
  @apply h-5;
  @apply lg:w-[10px];
  @apply lg:h-[10px];
}

.splide__pagination li {
  @apply flex;
  @apply items-center;
}

/* Accordion */

.accordion .accordion-title-icon {
  @apply transition;
}

.accordion button[aria-expanded='false'] .accordion-title-icon {
  @apply bg-[url('/icons/chevron-down-green.svg')];
}

.accordion button[aria-expanded='true'] .accordion-title-icon {
  @apply bg-primary;
  @apply bg-[url('/icons/chevron-up-white.svg')];
}

.accordion .accordion-content--open {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
